In [1]:
import pandas as pd 
import numpy as np 
from scipy import sparse
from mlxtend.preprocessing import TransactionEncoder

In [7]:
dfOrder = pd.read_csv('order_products__train.csv')
dfOrder

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [2]:
dfProduct = pd.read_csv('products.csv')
dfProduct

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [8]:
transacciones = dfOrder.groupby('order_id')['product_id'].apply(list).reset_index()

print("Muestra:")
for i in range(min(5, len(transacciones))):
    print(f"Orden {transacciones.iloc[i]['order_id']}: {transacciones.iloc[i]['product_id'][:5]}...")

transacciones_list = transacciones['product_id'].tolist()

Muestra:
Orden 1: [49302, 11109, 10246, 49683, 43633]...
Orden 36: [39612, 19660, 49235, 43086, 46620]...
Orden 38: [11913, 18159, 4461, 21616, 23622]...
Orden 96: [20574, 30391, 40706, 25610, 27966]...
Orden 98: [8859, 19731, 43654, 13176, 4357]...

In [9]:
sample_size = min(10000, len(transacciones_list))
transacciones_sample = transacciones_list[:sample_size]

In [10]:
te = TransactionEncoder()
te_trans = te.fit_transform(transacciones_sample)
dfBi = pd.DataFrame(te_trans, columns= te.columns_)

In [13]:
print(f"\nValores únicos en el DataFrame: {np.unique(dfBi.values.flatten())}")
print(f"Número de 1s (presencias): {(dfBi == 1).values.sum()}")
print(f"Número de 0s (ausencias): {(dfBi == 0).values.sum()}")

Valores únicos en el DataFrame: [False  True]
Número de 1s (presencias): 105404
Número de 0s (ausencias): 171334596

In [14]:
dfBi

,1,3,9,10,16,23,25,28,29,32,...,49655,49664,49667,49668,49670,49676,49678,49680,49683,49686
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
print(f"Forma del DataFrame: {dfBi.shape}")

print(f"Valores únicos: {np.unique(dfBi.values)}")
print(f"Número de True: {(dfBi == True).values.sum()}")
print(f"Número de False: {(dfBi == False).values.sum()}")
print(f"Porcentaje de True: {(dfBi == True).values.sum() / dfBi.size * 100:.2f}%")

print("\nMuestra aleatoria de 5 filas:")
print(dfBi.sample(5))

Forma del DataFrame: (10000, 17144)
Valores únicos: [False  True]
Número de True: 105404
Número de False: 171334596
Porcentaje de True: 0.06%

Muestra aleatoria de 5 filas:
      1      3      9      10     16     23     25     28     29     32     \
2358  False  False  False  False  False  False  False  False  False  False
7537  False  False  False  False  False  False  False  False  False  False
904   False  False  False  False  False  False  False  False  False  False
7967  False  False  False  False  False  False  False  False  False  False
2299  False  False  False  False  False  False  False  False  False  False

      ...  49655  49664  49667  49668  49670  49676  49678  49680  49683  \
2358  ...  False  False  False  False  False  False  False  False  False
7537  ...  False  False  False  False  False  False  False  False  False
904   ...  False  False  False  False  False  False  False  False  False
7967  ...  False  False  False  False  False  False  False  False  False
2299  ...  False  False  False  False  False  False  False  False  False

      49686
2358  False
7537  False
904   False
7967  False
2299  False

[5 rows x 17144 columns]

In [18]:
from scipy import sparse

# Agrupar productos por orden
order_products = dfOrder.groupby(['order_id', 'product_id']).size().reset_index()
order_products.rename(columns={0: 'count'}, inplace=True)

# Crear matriz sparse (mucho más eficiente en memoria)
sparse_matrix = sparse.csr_matrix(
    (np.ones(len(order_products)), 
     (order_products['order_id'].astype('category').cat.codes, 
      order_products['product_id'].astype('category').cat.codes))
)

# Convertir a DataFrame binario
orders = order_products['order_id'].unique()
products = order_products['product_id'].unique()
dfBi = pd.DataFrame.sparse.from_spmatrix(
    sparse_matrix,
    index=orders,
    columns=products
)

# Mostrar las primeras filas
dfBi

,10246,11109,13176,22035,43633,47209,49302,49683,19660,34497,...,25603,8360,40636,1528,25275,27645,9491,47935,16380,38900
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3421049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3421056,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3421058,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3421063,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3421070,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
N = 1000

top_prod = dfOrder['product_id'].value_counts().nlargest(N).index

In [24]:
dfOrder_fill = dfOrder[dfOrder['product_id'].isin(top_prod)]

order_matrix = pd.crosstab(dfOrder_fill['order_id'], dfOrder_fill['product_id'],  dropna=False)

In [28]:
dfBi = (order_matrix > 0).astype(int)
dfBi.head()

product_id,34,45,196,260,311,329,365,432,581,651,...,49175,49191,49235,49247,49383,49520,49533,49605,49610,49683
order_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
36,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
print(f"Forma del DataFrame: {dfBi.shape}")

print(f"Valores únicos: {np.unique(dfBi.values)}")
print(f"Número de True: {(dfBi == True).values.sum()}")
print(f"Número de False: {(dfBi == False).values.sum()}")
print(f"Porcentaje de True: {(dfBi == True).values.sum() / dfBi.size * 100:.2f}%")

Forma del DataFrame: (120218, 1000)
Valores únicos: [0 1]
Número de True: 728595
Número de False: 119489405
Porcentaje de True: 0.61%

In [31]:
min_support = 0.01

item_support = dfBi.sum() / len(dfBi)
frequent_item = item_support[item_support >= min_support]

In [40]:
frequent_item = frequent_item.sort_values(ascending=False)

print(f"1-itemsets frecuentes encontrados: {len(frequent_item)}")
print("\nTop 10 productos más frecuentes:")
print(frequent_item.head(10))

1-itemsets frecuentes encontrados: 118

Top 10 productos más frecuentes:
product_id
24852    0.155767
13176    0.128766
21137    0.090619
21903    0.081385
47626    0.067669
47766    0.061630
47209    0.060665
16797    0.054019
26209    0.050184
27966    0.046133
dtype: float64

In [49]:
frequentDf = pd.DataFrame({'itemset': [[product] for product in frequent_item.index], 'support': frequent_item.values})

print("DataFrame de 1-itemsets frecuentes:")
print(frequent_item)

frequent_items = frequent_item.index.tolist()

DataFrame de 1-itemsets frecuentes:
product_id
24852    0.155767
13176    0.128766
21137    0.090619
21903    0.081385
47626    0.067669
           ...
41844    0.010132
260      0.010107
24489    0.010090
41787    0.010040
38689    0.010032
Length: 118, dtype: float64